:root{
    --hover-color: #FF2288;
    --nav-bar-bg: #222222;
    font-size: 16px;
}
main{
    padding: 1rem;
}
/* navbar */
.nav-item{
    width: 100%;
}
.navbar{
    position: fixed;
    background-color: var(--nav-bar-bg);
    transition: 200ms ease;
    z-index: 1;

}
.nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 5rem;
    margin: 10px 0px 10px 0px;
}
#logo{
    display: none;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 400ms ease-in-out;
}
.text{
    font-family: 'Avenir Medium';
    display: none;
    margin-left: 1rem;
}
.followers{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.follower{
    width: 100%;
}
#following-text{
    font-family: 'Avenir Heavy';
    font-size: 12px;
    color: white;
    transition: 200ms ease;

}
.follower-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #F8F8F8;
    transition: 200ms ease;
}
.show-more{
    text-decoration: none;
    display: none;
    color: #F8F8F8;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
}
.searchbox{
    top: 15px;
    position: relative;
}
form input{
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F8F8F8;
    border: none;
}
.search-icon{
    position: absolute;
    left: 330px;
    top: 6px;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
}

.header-navitem{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 20px;
}
.pfp-svg{
    padding: 5px;
    border: 2px solid gray;
    border-radius: 50%;
}
.gopro-link{
    font-family: 'Avenir Heavy';
    text-decoration: none;
    color: var(--hover-color);
}
.upload{
    font-family: 'Avenir Heavy';
    padding: 1rem 1rem;
    color: white;
    background-color: var(--hover-color);
    border: none;
    border-radius: 10px;
}
.section-navbar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav-link{
    font-family: 'Avenir Book';
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.nav-link:active{
    background-color:  #F8F8F8;
}
.last-item{
    margin: 0 100px 0 auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 12px;
}
.filter-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.follower-link span{
    font-family: 'Avenir Medium';
}
.filter{
    font-family: 'Avenir Medium';
    margin-left: 10px;
}
/* main content */
.grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, 186px);
    grid-column-gap: 40px;
    margin-right: 100px;
    justify-content: center;
}
.component-relative{
    position: relative;
}
.grid-img{
    width: 250px;
}
.heart-btn,.plus-btn{
    border: none;
    display: none;
    position: absolute;
    left: 30px;
    background-color: white;
    padding: 3px 3px;
    border-radius: 10px;
    cursor: pointer;
}
.component-relative:hover .heart-btn,.component-relative:hover .plus-btn{
    display: initial;
}
.grid-content p{
    width: 200px;
    margin: 0px 25px;
    font-family: 'Avenir Medium';
}
.heart-btn{
    top: 30px;
}
.plus-btn{
    top: 70px;
}
.heart-btn:hover{
    background-color:rgb(228, 60, 94)
}
.plus-btn:hover{
    background-color: rgb(9, 237, 237);
}
.loadmore{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: #D8D8D8;
    border-radius: 10px;
    margin: 100px auto 0px auto;
    padding: 10px 50px;
    width: 200px;
}
.top-designers{
    margin-top: 100px;
    background-color: #fafafa;
}
.top-designers h1{
    font-family: 'Avenir Heavy';
}
.wrap{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.wrap a{
    text-decoration: none;
    color: rgb(199, 192, 192);
}
.designers{
    margin-top: 100px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.designers a{
    text-decoration: none;
    color: #222222;
}
.designers a h3{
    font-size: 14px;
    font-family: 'Avenir Medium';
}
.designers span{
    font-size: 12px;
    font-family: 'Avenir Book';
}
.designers a:hover{
    color:rgb(199, 192, 192);
}
.designer img{
    width: 100px;
}
.designer{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    text-align: center;
}
.designer button{
    width: 100px;
    border: none;
    background-color: #D8D8D8;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.table-wrap{
    overflow-x: auto;
}
.container{
    width: 100%;
    color: #afafaf;
    margin: 50px auto;
}
td, th {
    font-family: 'Avenir Heavy';
    border-top: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}
th{
    font-size: 18px;
    color: #111111;
}
tbody :nth-child(8){
    color: var(--hover-color);
}
tr:hover{
    color: #222222;
    background: #F2F2F2;
    border-radius: 10px;
}
/* footer */
.footer-wrap{
    margin-top: 50px;
    display: grid;
    grid-gap: 40px;
    grid-template-rows: auto;
}
.for-designers-wrap{
    grid-row: span 2;
}

.brands{
    grid-row: 2/3;
    grid-column: 2/3;
}
.company{
    grid-row: span 2;
}
.design-assets{
    grid-row: 2/3;
    grid-column: 4/5;
}
.footer-wrap h3{
    margin-bottom: 10px;
    font-family: 'Avenir Heavy';
}
.footer-wrap li{
    margin-bottom: 10px;
}
.footer-wrap ul{
    list-style: none;
}
.footer-wrap a{
    text-decoration: none;
    color: #222222;
    font-family: 'Avenir Book';
}

.footer-logos{
    margin-top:50px;
    display: flex;
    width: 100%;
}
.smart-academy{
    text-decoration: none;
    color: #222222;
    margin-left: auto;
}
#for{
    font-family: 'Avenir Book';
}
#smartac{
    font-size: 18px;
    font-family: 'Avenir Black';
}
#facebook svg path:hover{
    fill: #0e0792;
}
#instagram svg path:hover{
    fill: #c50eb0;
}
#twitter svg path:hover{
    fill: #076692;
}
