:root{
    --hover-color: #FF2288;
    --nav-bar-bg: #222222;
    font-size: 16px;
    font-family: 'Avenir';
}
main{
    margin-left: 5rem;
    padding: 1rem;
}
/* navbar */
.nav-item{
    width: 100%;
}
.navbar{
    position: fixed;
    background-color: var(--nav-bar-bg);
    transition: 200ms ease;
}
.nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 5rem;
    margin: 10px 0px 10px 0px;
}
#logo{
    display: none;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 200ms ease;
}
.text{
    display: none;
    margin-left: 1rem;
}
.followers{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.follower{
    width: 100%;
}
#following-text{
    font-size: 12px;
    color: white;
    transition: 200ms ease;

}
.follower-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 200ms ease;
}
.show-more{
    display: none;
    color: white;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
}
.searchbox{
    top: 15px;
    position: relative;
}
form input{
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F8F8F8;
    border: none;
}
.search-icon{
    position: absolute;
    left: 330px;
    top: 6px;
}
.header-nav{
    display: flex;
    flex-wrap: wrap;
}

.header-navitem{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 20px;
}
.gopro-link{
    text-decoration: none;
    color: var(--hover-color);
}
.upload{
    padding: 1rem 1rem;
    color: white;
    background-color: var(--hover-color);
    border: none;
    border-radius: 10px;
}
.section-navbar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.nav-link:active{
    background-color: #F8F8F8;
}
.last-item{
    margin: 0 100px 0 auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 12px;
}
.filter-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.filter{
    margin-left: 10px;
}
@media only screen and (max-width:1200px) {
    .navbar {
      bottom: 0;
      width: 100%;
    }
    .logo-link img{
        display: none;
    }
    .nav {
      flex-direction: row;
      height: 5rem;
    }
    .link:hover{
        background-color: var(--hover-color);
    }
    .link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
    .followers{
        display: none;
    }
}
@media only screen and (min-width:1200px) {
    .navbar {
      width: 5rem;
      height: 1080px;
    }
    .navbar:hover .link{
        margin: 0 auto;
        justify-content:flex-start;
        margin-bottom: 1rem;    
        border-radius: 12px;
        width: 15rem;
        padding: 10px 20px 10px 20px;
    }
    .navbar:hover .follower-link,#following-text,.show-more{
        justify-content: flex-start;
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 15rem;
    }
    .navbar:hover .show-more{
        display: initial;
    }

    .navbar:hover .link:hover{
        background-color: var(--hover-color);
    }
    .navbar:hover .logo{
        justify-content: space-between; 
    }
    .navbar:hover #logo{
        display: initial;
    }
    .navbar:hover {
        width: 20rem;
    }
    .navbar:hover .text {
        display: inline;
    }
    main{
        margin-left: 20rem;
    }
}

@media only screen and (max-width:600px){
    .gopro-link{
        display: none;
    }
    .bell{
        display: none;
    }
    .mail{
        display: none;
    }
    .header-nav{
        flex-direction: column;
    }
}